<div class="container">
  <div class="panel panel-default">
    <select (change)="onChange($event.target.value)">
      <option value="allBottles" selected="selected">All Bottles</option>
      <option value="greaterThanTen">Wait...</option>
      <option value="lessThanTen">Restock!!</option>
    </select>
    <ul>
      <li *ngFor="let currentBottle of childBottleList | shotsLeft:filterByShotsLeft" class="panel-heading" (click)="showBottleDetails(currentBottle)">
        <span class="listHoverUnderline">{{currentBottle.brand}}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="shots">{{currentBottle.shots}}&nbsp; shots remain&nbsp;</span>
        <button (click)="shotSold(currentBottle)" class="shotsButton">Sell a Shot</button>
      </li>
    <div class="well" *ngIf="showBottle">
      <h2>Bottle Details: {{showBottle.brand}}</h2>
      <h3>Price per bottle&nbsp;&nbsp;${{showBottle.pricePerBottle}}</h3>
      <h3>Price per shot&nbsp;&nbsp;${{showBottle.pricePerShot}}</h3>
      <h3>{{showBottle.proof}}&nbsp;&nbsp;Proof</h3>
      <h3>Distillery:&nbsp;&nbsp;{{showBottle.distillery}}</h3>
      <h3>Flavor:&nbsp;&nbsp;{{showBottle.flavor}}</h3>
      <h3>Type:&nbsp;&nbsp;{{showBottle.alcoholType}}</h3>
      <button (click)="editButtonHasBeenClicked(showBottle)">Edit!</button>
      <button (click)="hideBottleDetails(currentBottle)">Hide</button>
    </div>
    </ul>
  </div>
</div>
