<div class="container">
  <button (click)="showEmployeePortal()">Employee Portal</button>
  <div *ngIf="showPortal" class="new-bottle well">
    <h1>Add a new bottle</h1>
    <label for="brand">Brand</label>
    <input #newBrand>
    <label for="pricePerBottle"> Price per bottle</label>
    <input #newPricePerBottle>
    <label for="pricePerShot"> Price per shot</label>
    <input #newPricePerShot>
    <label for="proof"> Proof</label>
    <input #newProof>
    <label for="distillery"> Distillery </label>
    <input #newDistillery>
    <label for="shots"> Number of shots per bottle </label>
    <input #newShots>
    <label for="flavor"> Flavor </label>
    <input #newFlavor>
    <label for="color"> Color </label>
    <input #newColor>
    <label for="alcoholType"> alcoholType </label>
    <input #newAlcoholType>
    <button (click)="submitForm(newBrand.value, newPricePerBottle.value, newPricePerShot.value, newProof.value, newDistillery.value, newShots.value, newFlavor.value, newColor.value, newAlcoholType.value)" >Add bottle</button>
  </div>
    <h1>Edit Bottle</h1>
    <label>Choose a bottle to edit</label>
    <select (change)="onChange($event.target.value)">
     <option value="pinnacle" selected="selected">Pinnacle</option>
     <option value="bigGin">Big Gin</option>
     <option value="monopolowa">Monopolowa</option>
    </select>
    <button (click)="editButtonHasBeenClicked(showBottle)">Edit!</button>
</div>
