.panel {
  color: teal;
}
.container, body {
  background color: teal;
}
h1 {
  color: teal;
}

li {
  color: teal;
  font-size: 2em;
}

.shotColor:hover {
  text-decoration: underline;
}

.shots {
  color: black;
  font-size: 70%;
}


.shotsButton {
  color: white;
  background-color: teal;
  font-size: 50%;
}

.cheap {
  color: #34d8ca;
}

.regular {
  color: #258c83;
}

.expensive {
  color: #185953;
}

.danger {
  color: #8e0b0b;
}

.high {
  color: #db6b08;
}

.low {
  color: #336d13;
}
