<div *ngIf="childSelectedBottle" class="well">
  <h2>Edit {{childSelectedBottle.brand}}</h2>

  <label>Brand</label>
  <input [(ngModel)]="childSelectedBottle.brand" class="form-control">
  <label> Price per bottle</label>
  <input [(ngModel)]="childSelectedBottle.pricePerBottle" class="form-control">
  <label> Price per shot</label>
  <input [(ngModel)]="childSelectedBottle.pricePerShot" class="form-control">
  <label> Proof</label>
  <input [(ngModel)]="childSelectedBottle.proof" class="form-control">
  <label> Distillery </label>
  <input [(ngModel)]="childSelectedBottle.distillery" class="form-control">
  <label> Number of shots per bottle </label>
  <input [(ngModel)]="childSelectedBottle.shots" class="form-control">
  <label> Flavor </label>
  <input [(ngModel)]="childSelectedBottle.flavor" class="form-control">
  <label> Color </label>
  <input [(ngModel)]="childSelectedBottle.color" class="form-control">
  <label>Alcohol Type </label>
  <input [(ngModel)]="childSelectedBottle.alcoholType" class="form-control">

  <button (click)="doneButtonClicked()">Done</button>
</div>
